package {{.Pkg}}

import (
    "github.com/gin-gonic/gin"
)

type {{.Name}}Controller struct {
    Service I{{.Name}}Service
}

func ({{.Name}}Controller) RouteName() string {
    return ""
}

func (ct {{.Name}}Controller) ForEngine(router *gin.Engine) {
    gp := router.Group(ct.RouteName())
    {
        gp.GET("", func (ctx *gin.Context) {})
    }
}